body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    font-family: sans-serif;
    font-size: 36px;
}

header {
    background-color: rgb(218, 11, 11);
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: blue;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font: Arial;
    font-size: 16px;
}

h1 {
    font-weight: bolder;
}

.tracklist {
    display: flex;
    flex-flow: row wrap;
}

p {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 20px;
}