body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    font-family: sans-serif;
    font-size: 36px;
}

header {
    background-color: rgb(218, 11, 11);
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 60px;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
    width: 33.33%;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font: Arial;
    font-size: 16px;
}

h1 {
    font-size: 102px;
    font-weight: boldest;
    text-decoration: underline;
}

.tracklist {
    display: flex;
    flex-flow: row wrap;
}

p {
    box-sizing: border-box;
    border: 2px rebeccapurple;
    float: left;
    width: 50%;
    padding: 20px;
    font-size: 20px;
}

.image-banner-fit {
    max-width: fit-content;
    max-height: fit-content;
}

.img p {
    float: right;
    font-size: 26px;
    width: 900px;
    text-align: justify;
    margin-right: 40px;
}

.track-box {
    height: 40px;
    width: 600px;
    background-color: gray;
    border: 1px solid black;
    margin-top: 3px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 2px;
    padding-right: 10px;
    text-align: left;
    text-shadow: 1px 1px white;
    clear: both;
}

.time {
    float: right;
}